<div>
	<% @intro_text.each do |text| %>
    <p><%= text %><p>
  <% end %>
  <% @match_selection_prompt.each do |text| %>
    <p><%= text %></p>
  <% end %>
  <form action='/game' method="post">
    <table>
      <tr>
        <td><input type="radio" name="match_number" value="1" checked="checked">
          <%= @match_types[0]["player1_type"] %> Vs <%= @match_types[0]["player2_type"] %></td>
      </tr>
      <tr>
        <td><input type="radio" name="match_number" value="2">
          <%= @match_types[1]["player1_type"] %> Vs <%= @match_types[1]["player2_type"] %></td>
      </tr>
      <tr>
        <td><input type="radio" name="match_number" value="3">
          <%= @match_types[2]["player1_type"] %> Vs <%= @match_types[2]["player2_type"] %></td>
      </tr>
    </table>
    <br>
    <% @player_setup_prompt.each do |text| %>
      <p><%= text %></p>
    <% end %>
    <% @player_symbol_option.each do |text| %>
      <p><%= text %></p>
    <% end %>
    <label for="player1_symbol">Player 1:</label>
    <input type="text" id="player1_symbol" name="player1_symbol" />
    <br><br>
    <label for="player2_symbol">Player 2:</label>
    <input type="text" id="player2_symbol" name="player2_symbol" />
    <br><br>
    <input type="submit" value="Let's Get Started!">
  </form>
</div>
